---
import Layout from "../../layouts/Layout.astro"
import LogEntries from "../../components/LogEntries"
---

<Layout title="Log">
	<main>
		<div class="prose mb-10"><h1>{Astro.params.slug}</h1></div>
		<LogEntries entriesBy="category" slug={Astro.params.slug} client:load />
	</main>
</Layout>
