---
import Layout from "../layouts/Layout.astro"
import LogEntries from "../components/LogEntries"
---

<Layout title="Log">
	<main>
		<div class="prose mb-10"><h1>Catherine's Activity Log</h1></div>
		<LogEntries client:load />
	</main>
</Layout>
